.recipe-search{
    padding: 20px;
    text-align: center;
}

.search-form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.recipe-list{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.recipe-item{
    border: 1px solid #ddd;
    padding:  10px;
    border-radius: 8px;
}

.recipe-item img{
    max-width: 100%;
    border-radius: 5px;
}